.page-header > h1 {
	color: #2f4f4f;
	margin: 10px 0 15px;
}

.nav {
	margin-top: 10px;
	list-style: none;
	padding-left: 0;
}
.nav li {
	display: inline-block;
}
.nav a {
	font-size: 1.2em;
	color: white;
	background-color: #13a4a4;
	padding: .5em .5em;
	border-radius: .5em;
	text-decoration: none;
}



.current {
  color: red;
}


